In [2]:
xx = input('What is the temperature in Fahrenheit?: ')
yy = ((float(xx)-32) * 5/9)
print("The temperature in Celsius is {}".format(yy))

What is the temperature in Fahrenheit?: 75
The temperature in Celsius is 23.88888888888889

In [79]:
xx = input('What is the temperature?: ')
if xx.isdigit():
    yy = input('Is this is Celsius or Fahrenheit?: ')
    if yy[0] == 'F'.lower():
        temp = ((float(xx)-32) * 5/9)
        print('the tempt in cel is {}'.format(temp))
    elif yy[0] == 'C'.lower():
        temp = ((float(xx)+32) * 9/5)
        print('the tempt in far is {}'.format(temp))
    else:
        print("Please enter 'Fahrenheit' or 'Celsius'")
else: 
    print('please enter a number')

What is the temperature?: k
please enter a number

In [67]:
myDNA = "atctggtttaaattgggaatcctcgat\nattcttcttggatc"
print(myDNA)

atctggtttaaattgggaatcctcgat
attcttcttggatc

In [51]:
with open("dnaseq.txt", "w") as wf:
    for line in myDNA:
        wf.write(line)

In [52]:
pwd

'/home/eebc177student/Developer/repos/eeb-c177-homework/class-assignments/class_exercises_2-13_2020'

In [53]:
ls

dnaseq.txt  Untitled.ipynb

In [54]:
with open("dnaseq.txt", "r") as rf:
    for line in rf:
        print(line)

atctggtttaaattgggaatcctcgat

attcttcttggatc

## Reading Files

In [59]:
import os

In [60]:
datapath = "/home/eebc177student/Developer/repos/CSB/python/data"
os.chdir(datapath)

In [62]:
dd=[]
with open ("Dalziel2016_data.csv", "r") as ff:
    for line in ff:
        #print(line)
        dd.append(line)

In [63]:
dd[0]

'biweek,year,loc,cases,pop\n'

In [64]:
dd[1]

'1,1906,BALTIMORE,NA,526822.1365\n'

## How could we select only cases from 1910